//variables
//
@bigfont: 'Bowlby One SC', cursive;
@mdfont: 'Rammetto One', cursive;
@font: 'Francois One', sans-serif;

@white: #EFF4F8;
@wood: #D9A288;
@brick: #C68276;



*{
  padding: 0px;
  margin: 0px;
}

body, html{
  width: 100%;
  background-color: #ffffff;
}

#home{
  .nav-bar{
    width: 100%;
    height: 200px;
    position: fixed;
    background-color: transparent;
    z-index: 2;
    .half{
      float: left;
      width: 50%;
      img{
        height: 200px;
      }
      h3{
        color: white;
        text-align: right;
        padding-right: 60px;
        font-size: 30px;
        font-family: @font;
        margin-top: 30px;
      }
    }
  }
  .picture-full{
    width: 100%;
    img{
      width: 100%;
    }
  }
  .text-wrapper{
    width: 100%;
    position: relative;
    margin-top: -1100px;
    h2{
      font-size: 147px;
      text-align: center;
      color: white;
      font-family: @mdfont;
      text-decoration: underline;
      line-height: 210px;
      text-transform: uppercase;
    }
  }
  .slogen{
    width: 100%;
    height: 200px;
    background-color: black;
    position: relative;
    display: inline-block;
    margin-top: 300px;
    z-index: 100;
    h1{
      font-size: 60px;
      font-family: @font;
      color: white;
      text-align: center;
      margin-top: 50px;
      text-transform: uppercase;
    }
  }
  .menu{
    width: 100%;
    height: 100%;
    background-color: @brick;
    img{
      width: 90%;
    }
  }

  .story{
    height: 620px;
    width: 100%;
    .half{
      float: left;
      width: 50%;
    }
    .words{
      h4{
        font-family: @font;
        font-size: 56px;
        text-align: center;
        padding: 20px;
        margin-top: 160px;
      }
    }
    .picture{
      overflow: hidden;
      background-color: white;
      img{
        height: 620px;
      }
    }
  }
}

